.productImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 200px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}
